# top level .env.example, credentials for top level docker compose
# identical credientials to nested .env
GOOGLE_CLIENT_ID="your-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-client-secret"
